<div class="back_c3">
<h2>Mon composant 3</h2>

<button (click)="onClick()">Saluer 1</button>
<h3>{{salut1}}</h3>

<button (click)="onClick($event)">Saluer 2</button>
<button (click)="salut2 = 'Salut Batman !'">Saluer 3</button>
<h3>{{salut2}}</h3>
</div>
