<div class="content" *ngIf="film">
  <!-- si selectedFilm existe bien : -->
  <h4>Film n°{{film.id}}</h4>
  <label for="name">Name :<br>
    <input [(ngModel)]="film.name" id="name">
  </label>
  <label for="year">Year :<br>
    <input [(ngModel)]="film.year" id="year">
  </label>
  <br>
  <button class="btn" (click)="save()">Enregistrer</button>
</div>
