<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>

<div class="container">
  <a routerLink="/" routerLinkActive="active" class="btn btn-dark">Accueil</a>
  <a routerLink="/todos" routerLinkActive="active" href="" class="btn  btn-dark">Liste complète</a>

  <hr>

</div>

<router-outlet></router-outlet>
