<form action="" method="post" *ngIf="todo">
  <div class="form-group">
      <label for="idtodo">Id : </label>
      <input type="text" class="form-control" name="id" id="idtodo" value="{{todo.id}}" disabled>
    </div>
  <div class="form-group">
      <label>userId : </label>
      <input type="text" class="form-control" name="userId" [(ngModel)]="todo.userId">
  </div>
  <div class="form-group">
      <label>Title : </label>
      <input type="text" class="form-control" name="title" [(ngModel)]="todo.title">
  </div>
  <div class="form-group">
      <label>Completed : </label>
      <input type="checkbox" name="completed" class="form-control" [(ngModel)]="todo.completed">
  </div>
      <button type="button" class="btn btn-dark btnsubmit" (click)="save()">Send updates</button>
</form>
