<div class="row">
  <div class="col-md-10 offset-1 alert-light texteprez">

      <h3>Bienvenue sur la page d'accueil de votre Todo List !</h3>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dicta doloribus, error in itaque iure laborum maiores natus, perferendis provident, quis sint velit voluptatem. Excepturi exercitationem libero nulla quisquam sit.
      </p>

  </div>
</div>
