
  <div class="sidebar">
    <ul class="list-group">
      <li *ngFor="let film of films"
          (click)="onSelect(film)"
          [class.active]="film === selectedFilm"
          class="list-group-item list-group-item-action" >
        <span class="id_list">{{film.id}}</span>
        <span class="content_list">{{film.name | uppercase}} (<span class="font-italic">{{film.year}}</span>)</span>
      </li>
    </ul>
    <div class="col-4">
      <app-film-detail [film]="selectedFilm"></app-film-detail>
    </div>
  </div>


