
li {
  margin: 0;
  padding: -1em;
  cursor: pointer;

}

ul {

}

li .id_list {
  background-color: rgba(11, 15, 41, 0.8);
  display: inline-block;
  color: white;
  width: 15%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 40px;
}

li .content_list {
  width: 60%;
}

li span {
  display: inline;
}

.list-group-item[_ngcontent-cl] {
  padding: 0;
}
