<div class="back_c2">
<h2>Mon composant 2</h2>

<h3 class="text-success">Hello World</h3>
<h3 [class]="successClass">Hello World</h3>

<h3 [ngClass]="messageClasses">Message avec plusieurs classes</h3>

<h3 [style.color]="hasError ? 'red' : 'green'">Style 1</h3>
<h3 [style.color]="highlightColor">Style 2</h3>

<h3 [ngStyle]="titleStyles">Style 3</h3>
</div>
