<div class="row">
  <div class="col-md-10 offset-1">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>UserId</th>
          <th>Title</th>
          <th>Completed</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todosList" (click)="getOneTodo(todo.id)" class="ligneTodo">
          <th>{{todo.id}}</th>
          <td>{{todo.userId}}</td>
          <td>{{todo.title}}</td>
          <td *ngIf="todo.completed === true">
            <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/sign-check-icon.png" width="25" alt="done">
          </td>
          <td *ngIf="todo.completed === false"><img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/256/sign-error-icon.png" alt="undone" width="25"></td>
          <td class="text-center"><a routerLink="/todos/{{todo.id}}">View</a></td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
