table tbody tr a td,th {
  border: 1px solid rgba(133, 133, 133, 0.2);

}

table tbody {
  border-collapse: collapse;
}

th {
  text-align: center;
}

table {
  margin-top: 1em;
  border-radius: 10px;
}

table tbody tr td a {
  text-decoration: none;
  color: rgba(41, 41, 41, 0.73);
  border: 1px solid rgba(128, 128, 128, 0.23);
  border-radius: 5px;
  padding: 0.6em;
}

table tbody tr td a:hover {
  color: rgba(41, 41, 41, 0.9);
  background: rgba(162, 162, 162, 0.24);
  box-shadow: 2px 2px 2px rgba(57, 57, 57, 0.54);
}

td img {
  margin-left: 40%;
}

.ligneTodo {
  cursor: pointer;
}

.detailrow {

}
