<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>Heroes & Cities</h1>
</div>

<nav>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
  <a routerLink="/cities" routerLinkActive="active">Cities</a>
</nav>

<router-outlet></router-outlet>
