/* You can add global styles to this file, and also import other style files */

nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background: #eee;
  border-radius: 4px;
}

nav a:visited, a:link {
  color: #607D8B;
}

nav a:hover {
  color: #039BE5;
  background: #CFD8DC;
}

nav a:active {
  color: #039BE5;
}
