/* MessagesComponent's private CSS styles */
h3 {
  color: rgba(68, 67, 71, 0.96);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  border: 1px solid rgba(128, 128, 128, 0.32);
  border-radius: 5px;
  background: rgba(12, 84, 96, 0.28);
  padding: 1em 0;
  font-size: 110%;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: crimson;
  font-family: Cambria, Georgia, sans-serif;
}

button.clear {
  font-family: Arial, sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}
button.clear {
  color: #888;
  margin-bottom: 12px;
}
.msglist {
  border-bottom: 1px solid rgba(128, 128, 128, 0.19);
  margin-top: 2em;
  margin-left: 1em;
}
