<div class="msglist" *ngIf="messageService.messages">
  <h3>Messages</h3>
  <div *ngFor="let message of messageService.messages">{{message}}</div>

  <br>
  <button class="clear"
          (click)="messageService.clear()">Vider les messages</button>

</div>
