h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;

}

h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0;
}

body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia, serif;
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

.col-12 {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
}

.content label {
  padding: 1em;
}
