<!--The content below is only a placeholder and can be replaced.-->
<header>
  <h1>{{title}}</h1>
</header>
<div style="text-align:center">
  <div class="col-4">
    <app-films></app-films>
  </div>

  <div class="col-4">
    <app-messages></app-messages>
  </div>
</div>
